<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lib.management.mapper.BroadcastTitleOnlyMapper">
    <resultMap id="BaseResultMap" type="com.lib.management.dto.BroadcastTitleOnly">
        <id column="broadcast_id" jdbcType="INTEGER" property="broadcastId" />
        <result column="broadcast_title" jdbcType="VARCHAR" property="broadcastTitle" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="image" jdbcType="VARCHAR" property="image" />
    </resultMap>


    <select id="selectBroadcastByPageOrderTimeDesc" resultMap="BaseResultMap" >
        select
            broadcast_id, broadcast_title,create_time,image
        from librarian_broadcast
        ORDER BY broadcast_id desc
        limit #{pageNumber,jdbcType=INTEGER},10
    </select>
    <select id="selectForSlideshow" resultMap="BaseResultMap">
        select
            broadcast_id, broadcast_title,create_time,image
        from librarian_broadcast
        order by broadcast_id desc
        limit 5
    </select>
</mapper>