<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lib.management.mapper.LibrarianBroadcastMapper" >
  <resultMap id="BaseResultMap" type="com.lib.management.model.LibrarianBroadcast" >
    <id column="broadcast_id" property="broadcastId" jdbcType="INTEGER" />
    <result column="broadcast_contains" property="broadcastContains" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    broadcast_id, broadcast_contains, create_by, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from librarian_broadcast
    where broadcast_id = #{broadcastId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from librarian_broadcast
    where broadcast_id = #{broadcastId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lib.management.model.LibrarianBroadcast" >
    insert into librarian_broadcast (broadcast_id, broadcast_contains, create_by, 
      create_time)
    values (#{broadcastId,jdbcType=INTEGER}, #{broadcastContains,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lib.management.model.LibrarianBroadcast" >
    insert into librarian_broadcast
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="broadcastId != null" >
        broadcast_id,
      </if>
      <if test="broadcastContains != null" >
        broadcast_contains,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="broadcastId != null" >
        #{broadcastId,jdbcType=INTEGER},
      </if>
      <if test="broadcastContains != null" >
        #{broadcastContains,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lib.management.model.LibrarianBroadcast" >
    update librarian_broadcast
    <set >
      <if test="broadcastContains != null" >
        broadcast_contains = #{broadcastContains,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where broadcast_id = #{broadcastId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lib.management.model.LibrarianBroadcast" >
    update librarian_broadcast
    set broadcast_contains = #{broadcastContains,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where broadcast_id = #{broadcastId,jdbcType=INTEGER}
  </update>
</mapper>